<mat-card class="example-card">
  <mat-card-header>
    <div class="profile-icon"  mat-card-avatar style="background-image: url('{{Member.photoUrl}}');" >
       
    </div>
    <mat-card-title>{{Member.knownAs}}</mat-card-title>
    <mat-card-subtitle>{{Member.lastActive}}</mat-card-subtitle>
  </mat-card-header>
  <div class="card-img-wrapper">
    <img mat-card-image src="{{Member.photoUrl || './assets/user.png'}}" alt="Photo of a Shiba Inu">
  </div>
  
  <mat-card-content>
    <p style=" text-align: center; margin: 5%;">{{Member.city}}</p>
    <p>
      {{Member.introduction}}
    </p>
  </mat-card-content>
  <mat-card-actions>

    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button color="primary" routerLink="/members/{{Member.userName}}" aria-label="Example icon button with a home icon">
            <mat-icon>account_circle</mat-icon>
          </button>
          <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon> chat</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </mat-card-actions>
</mat-card>