<div class="row">
    <div class="col-md-4" >

        <mat-card  class="example-card">
            
            <div class="card-img-wrapper">
              <img mat-card-image src="{{Member.photoUrl || './assets/user.png'}}" alt="Photo of a Shiba Inu">
            </div>
            
            <mat-card-content>
                <p> {{Member?.city}}, {{Member?.country}}</p>

                <p> Age: {{Member?.age}}</p>

                <p>Last Active: {{Member?.lastActive}}</p>

                <p>Member Since: {{Member?.created}}</p>

            </mat-card-content>
            <mat-card-actions>
                <hr>
              <section>
                <div  class="example-button-row">
                    <button style="width: 50%;" mat-raised-button color="primary">SMS</button>
                    <button style="width: 50%;" mat-raised-button color="accent">LIKE</button>
                  </div>
              </section>
              <hr>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-8 col-sm-12">
        <div>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="About {{Member?.knownAs}}">
                    <strong >Description</strong>
                    <p>{{Member?.introduction}}</p>
    
                    <strong>Looking for</strong>
                    <p>{{Member?.lookingFor}}</p>
                </mat-tab>
                <mat-tab label="Interest">
                    <strong>Interests</strong>
                    <p>{{Member?.interests}}</p>
                </mat-tab>
                <mat-tab label="Photos">

                    <ngx-gallery  [options]="galleryOptions" [images]=" galleryImages" style=" display: inline-table; margin-bottom: 20px; backgroud-color: red"></ngx-gallery>
                </mat-tab>
                <mat-tab label="Message">Message will here</mat-tab>
            </mat-tab-group>
        </div>
       
    </div>
</div>