
<div class="row">
    <div class="col-md-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-md-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes. Any unsaved changes will be
            lost
        </div>
    </div>
    
    <div class="col-md-4" >

        <mat-card  class="example-card">
            
            <div class="card-img-wrapper">
              <img mat-card-image src="{{Member.photoUrl || './assets/user.png'}}" alt="Photo of a Shiba Inu">
            </div>
            
            <mat-card-content>
                <p> {{Member?.city}}, {{Member?.country}}</p>

                <p> Age: {{Member?.age}}</p>

                <p>Last Active: {{Member?.lastActive}}</p>

                <p>Member Since: {{Member?.created}}</p>

            </mat-card-content>
            <mat-card-actions>
                <hr>
              <section>
                <div  class="example-button-row">
                    <button [disabled]="!editForm.dirty" form="editForm" style="width: 50%;" mat-raised-button color="accent">Save Changes</button>
                  </div>
              </section>
              <hr>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-8 col-sm-12">
        <div>
            <mat-tab-group dynamicHeight mat-align-tabs="start">
                <mat-tab label="About {{Member?.knownAs}}">

                    <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                        <h1 class="mt-2">Description</h1>
                        <textarea class="form-control" [(ngModel)]="Member.introduction" name="introduction" rows="6"></textarea>
    
                        <h1 class="mt-2">Looking For</h1>
                        <textarea class="form-control" [(ngModel)]="Member.lookingFor" name="lookingFor" rows="6"></textarea>
    
                        <h1 class="mt-2">Interests</h1>
                        <textarea class="form-control" [(ngModel)]="Member.interests" name="interests" rows="6"></textarea>
    
                        <h1 class="mt-2">Location Details</h1>
                        <div class="input-group mb-3 gap-2">
                            <label class="m-auto me-2">City</label>
                            <input [(ngModel)]="Member.city" name="city" type="text" class="form-control" placeholder="{{Member.city}}">
                            <label class="m-auto me-2">Country</label>
                            <input [(ngModel)]="Member.country" name="country" type="text" class="form-control" placeholder="{{Member.country}}">
                        </div>
                    </form>
                    
                </mat-tab>
                <mat-tab label="Photos">
                    <app-photo-editor [member]="Member"></app-photo-editor>
                </mat-tab>
            </mat-tab-group>
        </div>
       
    </div>
</div>


