.login-page{
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.login-tollbar{
  height: 100px;
}
.login-card{
  padding: 0px;
}

.login-form{
  padding: 20px;
  width: 60vw;
}
.example-full-width-login{
  width: 100%;
}

.example-full-width{
  display: flex;
  justify-content: space-evenly;
}

.item{
  width: 45%;
}

.btn-form{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

