.example-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .example-full-width {
    width: 100%;
    height: auto;
  }

  .recieved{
    width: 100%;
    text-align: left;
    padding: 2%;
    margin: 5px;
  }

  .send{
    width: 100%;
    text-align: right;
    padding: 2%;
    margin: 5px;
  }

  .sms-card:hover .hide-text{
    display: inline;
  }

  .hide-text{
    display: none;
  }

  .unread-text{
    display: inline;
  }


  .example-viewport {
    height: 60vh;
    width: 100%;
   
  }
  
  .example-item {
    background-color: gainsboro;
  }


.sms-card{
  margin: auto;
}