
<div *ngIf="!showForm" class="container">
  <p  >
    <mat-toolbar class="tollbar" style="padding: 0px 50px;">
     <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>

    <button routerLink="/" routerLinkActive="active" mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Home
    </button>
    <button routerLink="/members" routerLinkActive="active"  mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      Member
    </button>
    <button routerLink="/lists" routerLinkActive="active"  mat-button class="example-icon" aria-label="Example icon-button with share icon">
      Lists
   </button>
    <button routerLink="/messages" routerLinkActive="active" mat-button class="example-icon" aria-label="Example icon-button with share icon">
      Messages
    </button>

    <div style="padding: 0px 50px;">
      <button mat-button class="example-icon"  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      
        <img src="{{user.photoUrl || 'assets/user.png'}}" width="32" height="32" class="rounded-circle">
        {{user.username | titlecase}} 
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button routerLink="/member/edit"  mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Edit Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>login-out</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  </p>
</div>




