<nav class="navbar navbar-expand-lg navbar-light bg-light p-2 text-dark bg-opacity-50 fw-light">
  <div class="container">
    <a class="navbar-brand">Social Networking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="accountService.currentUser$| async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive="active" >Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active" >Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active" >messages</a>
          </li>      
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$| async) as user">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          {{user.username | titlecase}} 
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item  fw-light" href="#">New project...</a></li>
          <li><a class="dropdown-item  fw-light" href="#">Settings</a></li>
          <li><a routerLink="/member/edit" class="dropdown-item  fw-light" href="#" >Edit Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a (click)="logout()" class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>    
    </div>

    <form *ngIf="(accountService.currentUser$| async) == null" #loginForm = "ngForm" class="d-flex" (ngSubmit)="login()">
      <input
            name="username"
            [(ngModel)]="model.username" 
            class="form-control me-2" type="text" 
            placeholder="User Name"
            >
      <input 
          name="password"
          [(ngModel)]="model.password" 
          class="form-control me-2" type="password" placeholder="Password">
      
          <button class="btn btn-outline-success" type="submit">Login</button>
    </form>


  </div>
</nav>



